{
  "semi": true,
  "singleQuote": true,
  "singleAttributePerLine": true,
  "htmlWhitespaceSensitivity": "css",
  "printWidth": 80,
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["clsx", "cn"],
  "tailwindStylesheet": "resources/css/app.css",
  "tabWidth": 2,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "**/*.yml",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
