includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app
        - bootstrap
        - database/factories
        - routes
        - config
    level: max
    checkOctaneCompatibility: true
    checkModelProperties: true
    treatPhpDocTypesAsCertain: false
    excludePaths:
        - '**/ide-helper.php'
        - '**/ide_helper_models.php'
        - 'tests'
        - 'vendor'
    configDirectories:
        - config
        - src/config
        - tests

    # ignoreErrors:
    #     - '#PHPDoc tag @var#'
